
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<h3>Yeni Kategori Ekleme Sayası</h3>
<br />
<form class="form-group" method="post">
    <input type="text" class="form-control" name="CategoryName" placeholder="Kategori Adı" />
    <br />
    <input type="text" class="form-control" name="CategoryDescription" placeholder="Kategori Açıklması" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>