@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="col-12">
                @using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
                {
                    <p>
                        <div class="row">
                            <div class="col-3">Aranacak Kelimeyi Giriniz:</div>
                            <div class="col-6">
                                <input type="text" name="filter" class="form-control"/>
                            </div>
                            <div class="col-3">
                                <input class="btn btn-primary" type="submit" value="Ara"/>
                            </div>
                        </div>
                    </p>
                }</div>
                <br />
                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line -->
                        <div class="timeline">

                            @foreach (var item in Model)
                            {
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-success"> @(((DateTime) item.ContentDate).ToString("dd-MMM-yyyy"))</span>
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-comment bg-yellow"></i>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header"><a href="#"> @item.Writer.WriterName @item.Writer.WriterSurName</a></h3>
                                        <div class="timeline-body">
                                            @item.ContentValue
                                        </div>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            }
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        <!-- /.timeline -->
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
</body>
</html>



